@import "tailwindcss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #0a0a0a;
  --foreground: #e0e0e0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  /* Using your specified colors #ef552c and #34445e and variations of them. */
  background: linear-gradient(-45deg, #ef552c, #34445e, #3c5876, #f37d5c);
  /* #ef552c is your first color (a bright orange)
    #34445e is your second color (a grayish-blue)
    #3c5876 is a slightly lighter/more saturated blue variation of #34445e
    #f37d5c is a slightly lighter/less intense orange variation of #ef552c
  */
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  color: var(--foreground);
  cursor: default;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
